.header
	overflow: hidden
	&__title
		text-align: center
		font-size: 47px
		margin-bottom: 5px
		text-transform: uppercase
	&__desc
		text-align: center
		font-size: 19px
		color: #343434
		margin-bottom: 10px
	&__text
		text-align: center
		font-weight: 900
		font-size: 21px
		line-height: 1.2
		margin-bottom: 10px
	&__list
		max-width: 360px
		width: 100%
		margin: auto
		margin-bottom: 15px
	&__medals
		display: flex
		justify-content: center
		margin-bottom: 15px
	&__prod
		max-width: 250px
		width: 100%
		position: relative
		left: calc(50% - 85px)
		margin-bottom: 50px
	&__form
		max-width: 270px
		width: 100%
		margin: auto



.list-promo
	color: $grey
	font-size: 18px
	line-height: 1.2
	&__item
		position: relative
		padding-left: 30px
		font-weight: 700
		&:not(:last-of-type)
			margin-bottom: 10px
		&::before
			content: ''
			display: block
			position: absolute
			left: 0
			width: 12px
			height: 12px
			border-radius: 50%
			border: 2px solid #accf6a
			background-color: #ffffff
			box-shadow: 0 0 0 4px #cdea93
			margin: 4px

.medals
	&__wrap
		width: 80px
		display: block
		&:not(:last-of-type)
			margin-right: 10px