.order {
  &__title {
    text-align: center;
    margin-bottom: 20px;

    @include rm(480) {
      margin-bottom: 25px;
    }

    @include rm(768) {
      margin-bottom: 30px;
    }

    @include rm(1024) {
      margin-bottom: 40px;
    }

    @include rm(1220) {
      margin-bottom: 45px;
    }
  }

  @include rm(1220) {
    padding-top: 101px;
    padding-bottom: 75px;
  }

  &__subtitle {
    text-align: center;
    font-style: italic;

    .green {
      font-style: normal;      
    }
  }
}

.list-order {
  margin-bottom: 25px;

  @include rm(640) {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  @include rm(768) {
    margin-bottom: 35px;
  }

  @include rm(1024) {
    margin-bottom: 45px;
  }

  @include rm(1220) {
    margin-bottom: 50px;
  }

  &__item {
    text-align: center;
    max-width: 270px;
    margin: 0 auto;
    position: relative;

    @include rm(640) {
      width: 32%;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @include rm(640) {
        margin-bottom: 0;
      }

      @include rm(1024) {
        &::before {
          content: "";
          position: absolute;
          width: 24px;
          height: 22px;
          background: url(../img/arrow_black.png);
          top: 125px;
          right: -34px;
          z-index: 1;
        }

        &::after {
          content: "";
          position: absolute;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          border: 4px solid #8bbd0e;
          background-color: #fff;
          box-shadow: 0px 0px 0px 4px #cdea93;
          top: 125px;
          right: -42px;
          z-index: 0;
        }
      }

      @include rm(1220) {
        &::after {
          right: -77px;
        }
        &::before {
          right: -69px;
        }
      }
    }
  }

  &__img {
    background-color: #fff;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin: 0 auto 15px;

    @include rm(640) {
      width: 180px;
      height: 180px;
    }

    @include rm(768) {
      width: 230px;
      height: 230px;
      margin: 0 auto 30px;
    }

    @include rm(1024) {
      width: 270px;
      height: 270px;
      margin: 0 auto 35px;
    }

    @include rm(1220) {
      margin: 0 auto 40px;
    }

    &--form {
      background-image: url(../img/form_copy.jpg);
      background-size: contain;
    }

    &--operator {
      background-image: url(../img/operator.jpg);
      background-size: contain;
    }

    &--prod {
      background-image: url(../img/product.png);
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: 80% 100%;
    }
  }

  &__title {
    color: #2a2a2a;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    color: #49424c;
  }
}
