.popup {
  border-radius: 5px;
  background-color: #ffffff;
  display: flex !important;
  padding: 15px;
  @include rm(1000) {
    padding: 30px;
  }
  &__wrapper {
    width: 266px;
    @include rm(1000) {
      margin-right: 29px;
    }
  }

  &__img {
    display: none;

    @include rm(1000) {
      width: 196px;
      display: block;
    }
  }
  .blue {
    font-size: 40px;
    text-transform: uppercase;
  }
  &__title {
    color: #343434;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: center;
  }
  &__form {
    margin-bottom: 40px;
  }
  &__security {
    justify-content: center;
  }
}
