extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить Lipocarnit недорого. Цены, отзывы. Закажите Lipocarnit сейчас!";
  - const themeColor = "$blue";

append head
  include components/header.pug
  include components/properties.pug
  include components/process.pug
  include components/advantages.pug
  include components/expert.pug
  include components/reviews.pug
  include components/recommend.pug
  include components/doctor.pug
  include components/question.pug
  include components/order.pug
  include components/photos.pug
  include components/popup.pug


append content

append scripts
