extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить Lipocarnit недорого. Цены, отзывы. Закажите Lipocarnit сейчас!";
  - const themeColor = "$blue";

append head
  include components/header.pug
  include components/properties.pug
  include components/process.pug


append content

append scripts
