section.advantages.block
	.container
		h2.advantages__title.title 
			span.blue LIPOCARNIT 
			| — recupera tu peso natural
		p.advantages__desc Ayuda para adelgazar a base de&nbsp;inulina y judías blancas.
		.advantages__wrapper
			.advantages__col.advantage
				.advantage__top
					.advantage__wrap
						p.advantage__ttl Inulina
						p.advantage__text 1 porción = 4 tazas de achicoria
					picture
						source(media="(max-width:479px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
						source(srcset="img/advantage_2.webp", type="image/webp")
						img.advantage__img(src="img/advantage_2.png", alt="")
				ul.advantage__list.list-adv
					li.list-adv__item Moviliza la grasa de las células y elimina de&nbsp;los depósitos de grasa
					li.list-adv__item Descompone la grasa visceral que se acumula alrededor de los órganos internos
					li.list-adv__item Reduce el apetito excesivo y normaliza la&nbsp;alimentación moderada
			.advantages__center
				picture
					source(srcset="img/product.webp", type="image/webp")
					img.advantages__prod(src="img/product.png", alt="Lipocarnit")
				.advantages__medals.medals
					.medals__wrap
						picture
							source(srcset="img/medal_1.webp", type="image/webp")
							img.medals__img(src="img/medal_1.png", alt="medal")
					.medals__wrap
						picture
							source(srcset="img/medal_2.webp", type="image/webp")
							img.medals__img(src="img/medal_2.png", alt="medal")
					.medals__wrap
						picture
							source(srcset="img/medal_3.webp", type="image/webp")
							img.medals__img(src="img/medal_3.png", alt="medal")
			.advantages__col.advantage
				.advantage__top
					.advantage__wrap
						p.advantage__ttl Frijoles blancos
						p.advantage__text Mantiene el resultado después del&nbsp;curso
					picture
						source(media="(max-width:479px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
						source(srcset="img/advantage_1.webp", type="image/webp")
						img.advantage__img(src="img/advantage_1.png", alt="")
				ul.advantage__list.list-adv
					li.list-adv__item Acelera la conversión de grasas y&nbsp;carbohidratos en energía, evitando 
						span que se almacenen
					li.list-adv__item Reduce el nivel de calorías
					li.list-adv__item Elimina activamente las toxinas del&nbsp;cuerpo
		p.advantages__main Una combinación competente de estos dos componentes hace de 
			span.blue LIPOCARNIT 
			| un producto práctico para quemar grasa que&nbsp;te&nbsp;ayuda a perder peso y a no volver a ganarlo!
		.advantages__bottom
			p.advantages__text La eficiencia está confirmada por&nbsp;certificados:
			.advantages__cert
				.advantages__sertificat
					picture
						source(srcset="img/sertificat_1.webp", type="image/webp")
						img(src="img/sertificat_1.jpg", alt="sertificat")
				.advantages__sertificat
					picture
						source(srcset="img/sertificat_2.webp", type="image/webp")
						img(src="img/sertificat_2.jpg", alt="sertificat")
				.advantages__sertificat
					picture
						source(srcset="img/sertificat_3.webp", type="image/webp")
						img(src="img/sertificat_3.jpg", alt="sertificat")
				.advantages__sertificat
					picture
						source(srcset="img/sertificat_4.webp", type="image/webp")
						img(src="img/sertificat_4.jpg", alt="sertificat")