section.advantages.block
	.container
		h2.advantages__title.title 
			span.blue LIPOCARNIT 
			| — верните себе свой естественный вес
		p.advantages__desc эффективное похудение благодаря натуральному концентрату зеленого чая и гуараны
		.advantages__wrapper
			.advantages__col.advantage
				.advantage__top
					.advantage__wrap
						p.advantage__ttl Концентрат зеленого чая
						p.advantage__text 1 прием = 9 чашек зеленого чая
					picture
						source(media="(max-width:479px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
						source(srcset="img/advantage_1.webp", type="image/webp")
						img.advantage__img(src="img/advantage_1.png", alt="")
				ul.advantage__list.list-adv
					li.list-adv__item Мобилизирует жир из клеток и избавляет от жировых отложений
					li.list-adv__item Расщепляет висцеральный жир, который накапливается вокруг внутренних органов
					li.list-adv__item Снижает излишний аппетит и нормализует умеренное питание
			.advantages__center
				picture
					source(srcset="img/product.webp", type="image/webp")
					img.advantages__prod(src="img/product.png", alt="Lipocarnit")
				.advantages__medals.medals
					.medals__wrap
						picture
							source(srcset="img/medal_1.webp", type="image/webp")
							img.medals__img(src="img/medal_1.png", alt="medal")
					.medals__wrap
						picture
							source(srcset="img/medal_2.webp", type="image/webp")
							img.medals__img(src="img/medal_2.png", alt="medal")
					.medals__wrap
						picture
							source(srcset="img/medal_3.webp", type="image/webp")
							img.medals__img(src="img/medal_3.png", alt="medal")
			.advantages__col.advantage
				.advantage__top
					.advantage__wrap
						p.advantage__ttl Экстракт гуараны
						p.advantage__text 1 прием по эффекту схож с занятием спортом
					picture
						source(media="(max-width:479px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
						source(srcset="img/advantage_2.webp", type="image/webp")
						img.advantage__img(src="img/advantage_2.png", alt="")
				ul.advantage__list.list-adv
					li.list-adv__item Ускоряет переработку жира и углеводов в энергию, не позволяя им откладываться
					li.list-adv__item Повышает мышечный тонус мускулатуры и кишечника, поддерживая общий тонус организма во время похудения
					li.list-adv__item Повышают умственную и физическую работоспособность
		p.advantages__main Грамотная комбинация двух этих компонентов делает&nbsp;
			span.blue LIPOCARNIT 
			| удобным жиросжигающим препаратом, который помогает худеть и не набирать вес снова!
		.advantages__bottom
			p.advantages__text Эффективност подтверждена  сертификатами:
			.advantages__cert
				.advantages__sertificat
					picture
						source(srcset="img/sertificat_1.webp", type="image/webp")
						img(src="img/sertificat_1.jpg", alt="sertificat")
				.advantages__sertificat
					picture
						source(srcset="img/sertificat_2.webp", type="image/webp")
						img(src="img/sertificat_2.jpg", alt="sertificat")
				.advantages__sertificat
					picture
						source(srcset="img/sertificat_3.webp", type="image/webp")
						img(src="img/sertificat_3.jpg", alt="sertificat")
				.advantages__sertificat
					picture
						source(srcset="img/sertificat_4.webp", type="image/webp")
						img(src="img/sertificat_4.jpg", alt="sertificat")