section.doctor.block
    .container.doctor__wrapper
        picture
            source(media="(max-width:1023px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
            source(srcset="img/expert.webp", type="image/webp")
            img.doctor__photo(src="img/expert.png", alt="expert")
        ul.doctor__list.list-doc
            li.list-doc__item.list-doc__item--1
                span.list-doc__strong.text-bold Para acelerar el efecto,
                span siga las instrucciones
            li.list-doc__item 
                span.list-doc__strong.text-bold Para obtener el máximo efecto, 
                span continúe el curso incluso después de que los síntomas se hayan resuelto. 
            li.list-doc__item 
                span.list-doc__strong.text-bold Зara prevenir problemas 
                span trate de comer bien y hacer ejercicio.
        .doctor__info.info-doc
            .info-doc__wrap
                p.info-doc__name.text-bold Omero Martínez,
                p.info-doc__post urólogo, 20 años de experiencia
            .info-doc__img
                picture
                    source(srcset="img/sign.webp", type="image/webp")
                    img(src="img/sign.png" alt="sign")
                picture
                    source(srcset="img/approved.webp", type="image/webp")
                    img(src="img/approved.png" alt="approved")

