section.expert.block.bg
	.container
		.expert__block
			h2.expert__title.title Эксперты об&nbsp;эффективности зеленого чая
			.expert__desc
				p.expert__text Зеленый чай содержит катехины, которые 
					span.text-bold действительно помогают при похудении. 
					| Они еще содержатся в ягодах, ячмене и ревене, но именно зеленый чай — самый богатый источник катехинов. 
				p.expert__text Катехины зелёного чая способствуют усилению обменных процессов и ускорению выведения жира из организма. 
				p.expert__text Чай регулирует уровень норадреналина, играющего важную роль в образовании жира. Таким образом 
					span.text-bold вы избавляетесь от жировой прослойки в области бедер, талии, ягодиц. 
				p.expert__text Правда для того, чтобы добиться заметных результатов необходимо пить по несколько литров чая в день - поэтому для похудения я рекомендую принимать препараты, которые содержат в себе его экстракты.
			.expert__clinical.clinical
				.clinical__wrap-img
					img.clinical__img(src="img/expert_clinical.png", alt="clinical")
				p.clinical__text 
					span.text-bold В декабрьском номере «Американского журнала клинического питания» за 1999 год 
					| по вопросу дозировки чайных катехинов есть соответствующие указания. Если вы хотите похудеть, среднесуточная дозировка эпигаллокатехина должна составлять 
					span.green.text-bold 270 мг, 
					| тогда как в одной чашке свежезаваренного зеленого чая содержится 
					span.green.text-bold 25-30 мг. 
					| Получается, что для эффективного снижения веса вам придется пить не менее 9 чашек чая в день. 
			.expert__info.expert-info
				.expert-info__wrap
					p.expert-info__name Василий Петров,
					p.expert-info__post уролог, стаж 20 лет
				.expert-info__images
					picture
						source(srcset="img/sign.webp", type="image/webp")
						img.expert-info__sign(src="img/sign.png" alt="sign")
					picture
						source(srcset="img/approved.webp", type="image/webp")
						img.expert-info__approved(src="img/approved.png" alt="approved")
				a.expert-info__link(href='#') Другие исследования
		picture
			source(media="(max-width:479px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
			source(srcset="img/expert.webp", type="image/webp")
			img.expert__photo(src="img/expert.png", alt="expert")