section.expert.block.bg#expert
	.label.js-label(data-target="#expert")
	.container
		.expert__block
			h2.expert__title.title Expertos sobre la eficiencia de&nbsp;achicoria
			.expert__desc
				p.expert__text La achicoria contiene insulina, que 
					span.text-bold realmente ayuda a la pérdida de peso. 
					| Todavía se encuentra en el ajo, cebollas, espárragos, plátanos, pero es la raíz de achicoria que es la fuente más rica de insulina.
				p.expert__text La insulina ayuda a mejorar los procesos metabólicos y aceleran la eliminación de grasas del cuerpo. 
				p.expert__text Aumenta significativamente la sensibilidad del cuerpo a la insulina. Esta es la razón por la que la glucosa y el azúcar, que está en la sangre, comienzan a ser procesados más rápidamente. 
				p.expert__text Es cierto que para lograr resultados notables, hay que beberlo al menos 4&nbsp;tazas al día, lo que es malo para el cuerpo, así que para la pérdida de peso recomiendo tomar medicamentos que contienen sus extractos. 
			.expert__clinical.clinical
				.clinical__wrap-img
					img.clinical__img(src="img/expert_clinical.png", alt="clinical")
				p.clinical__text 
					span.text-bold En la edición de diciembre de 1999 del American Journal of Clinical Nutrition hay instrucciones sobre la dosificación de la achicoria. Si quiere perder peso, la dosis media diaria debe ser de 
					span.green.text-bold 20 g, 
					| mientras que puede beber hasta 
					span.green.text-bold 30 ml
					|  por día. Resulta que, que para perder peso de manera efectiva, tendrá que lastimar su cuerpo. 
			.expert__info.expert-info
				.expert-info__wrap
					p.expert-info__name Omero Martínez,
					p.expert-info__post urólogo, 20 años de experiencia
				.expert-info__images
					picture
						source(srcset="img/sign.webp", type="image/webp")
						img.expert-info__sign(src="img/sign.png" alt="sign")
					picture
						source(srcset="img/approved.webp", type="image/webp")
						img.expert-info__approved(src="img/approved.png" alt="approved")
				.expert-info__link.js-label(data-target="#result") Otros estudios
		picture
			source(media="(max-width:479px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
			source(srcset="img/expert.webp", type="image/webp")
			img.expert__photo(src="img/expert.png", alt="expert")