form.form.x_order_form(action="/submit" method="post")
	.form__wrap.form__wrap--name
		input.form__input(type="text" name="name" required placeholder="Имя")
	.form__wrap.form__wrap--phone
		input.form__input(type="tel" name="phone" required placeholder="Телефон")
	button.form__btn.btn
		span.btn__big Заказать
		span.btn__small со скидкой
