section.order.block.bg#order
	.label.js-label(data-target="#order")
	.container.order__wrapper
		h2.order__title.title Cómo pedir 
			span.blue LIPOCARNIT 
			| original
		ul.order__list-order.list-order
			li.list-order__item
				.list-order__img.list-order__img--form
				h4.list-order__title.text-black Complete el formulario de pedido
				p.list-order__text Вам нужно указать только свое имя и номер телефона
			li.list-order__item
				.list-order__img.list-order__img--operator
				h4.list-order__title.text-black Responder la llamada del operador
				p.list-order__text Aclarará sus datos y responderá todas las preguntas sobre el producto.
			li.list-order__item
				.list-order__img.list-order__img--prod
				h4.list-order__title.text-black Pagar al recibir 
				p.list-order__text Pagaremos todos los gastos de envío nosotros mismos
		p.order__subtitle Si tiene alguna pregunta, siempre puede contactarnos y obtener una consulta 
			span.green.text-bold gratuita 
			| detallada sobre el producto y cómo usarlo.