.order-form
	.order-form__top
		p.order-form__ttl Pedido con descuento
			span.date-0(data-format="dd monthFull")
		.order-form__price.price
			.price__col.price__col--old
				p.price__name Precio anterior
				.price__wrap
					span.price__val.x_price_previous 900
					span.price__currency.x_currency CLP
			.price__col.price__col--new
				p.price__name Precio nuevo
				.price__wrap
					span.price__val.x_price_current 450
					span.price__currency.x_currency CLP
		.order-form__form
			include form
		.order-form__security.security
			img.security__ico(src="img/security.png" alt="security")
			p.security__text ¡Tus datos están protegidos!
	.order-form__bottom Quedan 
			span.lastpack 10
			|  paquetes con Promoción