section.order.block.bg
	.container.order__wrapper
		h2.order__title.title Как заказать оригинальный 
			span.blue LIPOCARNIT
		ul.order__list-order.list-order
			li.list-order__item
				.list-order__img.list-order__img--form
				h4.list-order__title Заполните форму заказа
				p.list-order__text Вам нужно указать только свое имя и номер телефона
			li.list-order__item
				.list-order__img.list-order__img--operator
				h4.list-order__title Ответьте на звонок оператора
				p.list-order__text Он уточнит ваши данные и ответит на все вопросы о продукте
			li.list-order__item
				.list-order__img.list-order__img--prod
				h4.list-order__title Оплатите после получения
				p.list-order__text Все расходы по пересылке мы оплатим самостоятельно
		p.order__subtitle Если у вас возникают вопросы - вы всегда можете с нами связаться и получить подробную 
			span.green бесплатную 
			| консультацию о продукте и способе его применения.

		