section.photos
	.container.block.photos__wrap
		h2.photos__title.title Imagina que tu figura se vuelve más delgada y estética
		.photos__images.images
			picture
				source(srcset="img/1.webp", type="image/webp", media="(min-width: 640px)")
				source(srcset="img/1.png", media="(min-width: 640px)")
				img.images__item.images__item--1(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/2.webp", type="image/webp")
				img.images__item.images__item--2(src="img/2.png", alt="photo")
			picture
				source(srcset="img/3.webp", type="image/webp", media="(min-width: 640px)")
				source(srcset="img/3.png", media="(min-width: 640px)")
				img.images__item.images__item--3(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", alt="photo")
			picture
				source(srcset="img/4.webp", type="image/webp")
				img.images__item.images__item--4(src="img/4.png", alt="photo")
			picture
				source(srcset="img/5.webp", type="image/webp")
				img.images__item.images__item--5(src="img/5.png", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/6.webp", type="image/webp")
				img.images__item.images__item--6(src="img/6.png", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/7.webp", type="image/webp")
				img.images__item.images__item--7(src="img/7.png", alt="photo")
			picture
				source(srcset="img/8.webp", type="image/webp")
				img.images__item.images__item--8(src="img/8.png", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/9.webp", type="image/webp")
				img.images__item.images__item--9(src="img/9.png", alt="photo")
			picture
				source(srcset="img/10.webp", type="image/webp")
				img.images__item.images__item--10(src="img/10.png", alt="photo")
			picture
				source(srcset="img/11.webp", type="image/webp", media="(min-width: 640px)")
				source(srcset="img/11.png", media="(min-width: 640px)")
				img.images__item.images__item--11(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", alt="photo")
			picture
				source(srcset="img/12.webp", type="image/webp", media="(min-width: 640px)")
				source(srcset="img/12.png", media="(min-width: 640px)")
				img.images__item.images__item--12(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/13.webp", type="image/webp")
				img.images__item.images__item--13(src="img/13.png", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/14.webp", type="image/webp")
				img.images__item.images__item--14(src="img/14.png", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/15.webp", type="image/webp")
				img.images__item.images__item--15(src="img/15.png", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/16.webp", type="image/webp")
				img.images__item.images__item--16(src="img/16.png", alt="photo")
			picture
				source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(max-width: 1023px)")
				source(srcset="img/17.webp", type="image/webp")
				img.images__item.images__item--17(src="img/17.png", alt="photo")
			picture
				source(srcset="img/18.webp", type="image/webp")
				img.images__item.images__item--18(src="img/18.png", alt="photo")
		h3.photos__subtitle.text-black Muchos lo han logrado. Usted puede hacerlo también!
