.ever-popup-build
  .popup(id="cloneThis")
    .popup__wrapper
      h2.popup__title
        span.blue LIPOCARNIT 
        br
        span шипучие таблетки для похудения
      .popup__form
        include form
      .popup__security.security
        img.security__ico(src="img/security.png" alt="security")
        p.security__text Ваши данные защищены!
    picture
      source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", type="image/webp", media="(max-width: 999px)")
      source(type='image/webp' srcset='img/product.webp')
      img.popup__img(src='img/product.png' alt='product')

