section.process.block.bg
	.container
		h2.process__title.title Но похудеть с обычным зеленым чаем сложно, ведь для этого нужно:
		.process__wrapper
			.process__col.process-item
				.process-item__top
					picture
						source(srcset="img/process_1.webp", type="image/webp")
						img.process-item__img(src="img/process_1.png", alt="")
				.process-item__bottom
					p.process-item__ttl Выпивать около 
						span.green 9
						|  чашек в день
					.process-item__desc
						p.process-item__text Чтобы начать худеть, нужно 
							span.green 270 мг катехинов в день. 
							br
							| В одной чашке чая содержится 
							span.green 25 мг.
						p.process-item__text Однако, выпивать по 
							span.green 9 
							| чашек в день сложно, да и не всегда зеленый чай качественный и содержит в себе столько катехинов.
			.process__col.process-item
				.process-item__top
					picture
						source(srcset="img/process_2.webp", type="image/webp")
						img.process-item__img(src="img/process_2.png", alt="")
				.process-item__bottom
					p.process-item__ttl Заниматься спортом
					.process-item__desc
						p.process-item__text Легкая физическая нагрузка — то, что нужно, чтобы организм начал усваивать катехины и сжигать лишний жир.
						p.process-item__text Однако, не у всех есть время, силы и возможности заниматься спортом.
		p.process__main Поэтому мы сделали 
			span.green натуральный концентрат, который поможет вам похудеть,
			|  в независимости от того, сколько чашек в день вы пьете и занимаетесь ли вы спортом.