section.process.block.bg#process
	.label.js-label(data-target="#process")
	.container
		h2.process__title.title Pero perder peso con la&nbsp;achicoria es difícil, porque para esto necesitas:
		.process__wrapper
			.process__col.process-item
				.process-item__top
					picture
						source(srcset="img/process_1.webp", type="image/webp")
						img.process-item__img(src="img/process_1.png", alt="")
				.process-item__bottom
					p.process-item__ttl Tomar unas 
						span.green 4 
						| tazas al día
					.process-item__desc
						p.process-item__text Se necesita 
							span.green 20g 
							| de achicoria seca al día para empezar a perder peso. Una taza de té contiene 
							span.green 5g.
						p.process-item__text Pero la tasa de achicoria diaria para una persona sana es de 
							span.green 30ml
							|  por día.
			.process__col.process-item
				.process-item__top
					picture
						source(srcset="img/process_2.webp", type="image/webp")
						img.process-item__img(src="img/process_2.png", alt="")
				.process-item__bottom
					p.process-item__ttl Hacer deporte
					.process-item__desc
						p.process-item__text La actividad física ligera es lo que se necesita para que el cuerpo comience a absorber catequinas y queme el exceso de grasa.
						p.process-item__text Sin embargo, no todo el mundo tiene el tiempo, la energía y las oportunidades para practicar deportes.
		p.process__main Por eso elaboramos 
			span.green las cápsulas naturales para ayudarte a perder peso,
			|  no importa cuántas copas bebas al día. y&nbsp;haces ejercicio