mixin property(property)
	.property
		.property__wrap-img
			source(srcset="img/"+ property.src + '.webp', type="image/webp")
			img(src="img/"+ property.src + '.jpg', alt="property")
		p.property__text!=property.text

-
	const propertyArray = [
		{
			src: 'property_1',
			text: 'Reduce el hambre'
		},
		{
			src: 'property_2',
			text: 'Quema de depósitos de&nbsp;grasa'
		},
		{
			src: 'property_3',
			text: 'Reduce el nivel de&nbsp;colesterol&nbsp;"malo"'
		},
		{
			src: 'property_4',
			text: 'Reduce la cantidad de&nbsp;grasa en los órganos'
		}
	];


section.properties.block
	.container
		h2.properties__title.title La inulina es un componente que se&nbsp;encuentra en la raíz de la&nbsp;achicoria y&nbsp;ayuda a&nbsp;perder peso
		.properties__wrapper
			.properties__left
				p.properties__desc.green Propiedades de la inulina para adelgazar: 
				.properties__list
					each property in propertyArray
						+property(property)
			.properties__right
				picture
					source(srcset="img/product.webp", type="image/webp")
					img.properties__prod(src="img/product.png", alt="Lipocarnit")
				picture
					source(srcset="img/medal_1.webp", type="image/webp")
					img.properties__medal(src="img/medal_1.png", alt="medal")