.question.block
    .container.question__wrapper
        h2.question__title.title Nos hacen preguntas:
        ul.question__list.list-q
            li.list-q__item
                h4.list-q__title.text-black 1. ¿Puedo perder peso con la achicoria natural?
                p.list-q__text Sí, pero para ello es necesario consumir 4 tazas de achicoria al día, que es perjudicial para el cuerpo. En este caso, la recepción debe combinarse con la actividad física. A modo de comparación, se puede lograr el mismo efecto con un curso de tomar el remedio Lipocarnit.
            li.list-q__item
                h4.list-q__title.text-black 2. ¿Habrá una sobredosis o adicción? 
                p.list-q__text No. Lipocarnit no es adictivo, porque para el cuerpo es como un complejo vitamínico adicional que ayuda a establecer procesos alterados, en este caso, el procesamiento del tejido adiposo. No puede haber una sobredosis si bebe de acuerdo con las instrucciones. 
            li.list-q__item
                h4.list-q__title.text-black 3. ¿Cuánto Lipocarnit necesito para mi peso y altura?
                p.list-q__text Para obtener un cálculo preciso y una recomendación detallada, consulte a un especialista. Deja tu número en cualquiera 
                    a.list-q__link(href="#link-form") de los formularios
                    |  de pedido del sitio web para que un especialista te contacte y asesore.
            li.list-q__item.list-q__item--vissible.js-question-vissible
                h4.list-q__title.text-black 4. Después de completar el curso, ¿puede volver el peso?
                p.list-q__text Más probablemente no que sí. El curso del medicamento Lipocarnit normaliza el metabolismo, el tejido adiposo comenzará a procesarse activamente y su apetito también se normalizará. Por lo tanto, si se gana peso, lentamente. Pero aún así recomendamos no ser celoso con la comida chatarra y grasosa.
            li.list-q__item.list-q__item--vissible.js-question-vissible
                h4.list-q__title.text-black 5. ¿Puedo comer lo que quiero?
                p.list-q__text No podemos obligarlo a no comer algo. Y sí, incluso si comes pasteles y panecillos, Lipocarnit te ayudará a quemar grasa. Pero aún así, con una dieta equilibrada, el efecto será más fuerte y perderá peso más rápido.
            li.list-q__item.list-q__item--vissible.js-question-vissible
                h4.list-q__title.text-black 6. ¿Puedo combinar con deportes?
                p.list-q__text Por supuesto. Muchos deportistas utilizan Lipocarnit como suplemento nutricional deportivo como quemagrasas eficaz. Por lo tanto, si haces carreras cortas, abdominales en casa o, a veces, vas al gimnasio, el efecto te sorprenderá.
        .question__button.text-bold
            span.js-question-open.question__open Otras preguntas
            span.js-question-close.question__close Esconder
        picture
           source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", media="(min-width: 1024px)")
           source(srcset="img/product.webp", type="image/webp", media="(min-width: 768px)")
           source(srcset="img/product.png", media="(min-width: 768px)")
           img.question__prod(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==", alt="product")
        form#link-form.question__form.form-q.form.x_order_form(action="/submit" method="post")
            h3.form-q__title.text-black ¿Aún tienes preguntas? 
            .form__wrap.form__wrap--name
               input.form__input(type="text" name="name" required placeholder="Mi nombre")
            .form__wrap.form__wrap--phone
               input.form__input(type="tel" name="phone" required placeholder="Mi número")
            button.form__btn.btn
                span.btn__big Para obtener 
                span.btn__small una consulta
