section.recommend.block.bg
	.container.recommend__wrapper
		h2.recommend__title.title Как заказать оригинальный 
			span.blue LIPOCARNIT
		ul.recommend__list-rec.list-rec
			li.list-rec__item
				.list-rec__img.list-rec__img--form
				h4.list-rec__title Расстворите 1 таблетку
					br
					| в 200 мл воды
			li.list-rec__item
				.list-rec__img.list-rec__img--operator
				h4.list-rec__title Суточная доза —
					br
					| 1 таблетка
			li.list-rec__item
				.list-rec__img.list-rec__img--prod
				h4.list-rec__title Рекомендуемый курс применения —
					br
					|1 месяц
