section.recommend.block.bg#recommend
	.label.js-label(data-target="#recommend")
	.container.recommend__wrapper
		h2.recommend__title.title Cómo tomar 
			span.blue LIPOCARNIT 
			| para bajar de peso
		ul.recommend__list-rec.list-rec
			li.list-rec__item
				.list-rec__img
					picture
						source(srcset="img/glass.webp", type="image/webp")
						img.list-rec__glass(src="img/glass.png", alt="glass")
				h4.list-rec__title.text-black Tomar 3 cápsulas 
					br
					| con el desayuno
			li.list-rec__item
				.list-rec__img
					picture
						source(srcset="img/clock.webp", type="image/webp")
						img.list-rec__clock(src="img/clock.png", alt="clock")
				h4.list-rec__title.text-black Dosis diaria 
					br
					| es 3 cápsulas
			li.list-rec__item
				.list-rec__img
					picture
						source(srcset="img/year.webp", type="image/webp")
						img.list-rec__year(src="img/year.png", alt="glass")
					picture
						source(srcset="img/product.webp", type="image/webp")
						img.list-rec__product(src="img/product.png", alt="product")
				h4.list-rec__title.text-black El curso de aplicación recomendado 
					br
					| es de 1 mes.
		p.recommend__subtitle *dado que 
			span.blue.text-bold LIPOCARNIT 
			| quemagrasas tiene un efecto fuerte, no debes beber más de lo indicado en las instrucciones
