section.result.block#result
	.container
		h2.result__title.title Resultados de pérdida de&nbsp;peso de nuestros clientes
		p.result__desc basado en una encuesta después de un curso de un&nbsp;mes
		.result__table.table
			.table__col
				.table__cell.table__cell--title
					p.table__text Periodo 
						br
						| de observación
				.table__cell.table__cell--note.green
					p.table__text Mes
				.table__cell.table__cell--num
					p.table__text 1
				.table__cell.table__cell--num
					p.table__text 2
				.table__cell.table__cell--num
					p.table__text 3
				.table__cell.table__cell--num
					p.table__text 4
				.table__cell.table__cell--num
					p.table__text 5
				.table__cell.table__cell--num
					p.table__text 6
				.table__cell.table__cell--result
					p.table__text Total
			.table__wrap.js-table-slider
				.table__col
					.table__cell.table__cell--title
						p.table__text Mujeres
							br 
							| 60-70 kg 
					.table__cell.table__cell--note.green
						p.table__text Pérdida de peso
					.table__cell
						p.table__text por 4 kg 
					.table__cell
						p.table__text por 3 kg 
					.table__cell
						p.table__text por 3 kg 
					.table__cell
						p.table__text por 2 kg 
					.table__cell
						p.table__text por 2 kg 
					.table__cell
						p.table__text por 1 kg 
					.table__cell.table__cell--result
						p.table__text - 15 kg 
				.table__col
					.table__cell.table__cell--title
						p.table__text Mujeres
							br
							| 70-80 kg 
					.table__cell.table__cell--note.green
						p.table__text Pérdida de peso 
					.table__cell
						p.table__text por 7 kg 
					.table__cell
						p.table__text por 5 kg 
					.table__cell
						p.table__text por 5 kg 
					.table__cell
						p.table__text por 3 kg 
					.table__cell
						p.table__text por 2 kg 
					.table__cell
						p.table__text por 1 kg 
					.table__cell.table__cell--result
						p.table__text - 23kg 
				.table__col
					.table__cell.table__cell--title
						p.table__text Hombres
							br
							| y Mujeres
							br
							| 80-100 kg 
					.table__cell.table__cell--note.green
						p.table__text Pérdida de peso 
					.table__cell
						p.table__text por 8 kg 
					.table__cell
						p.table__text por 6 kg 
					.table__cell
						p.table__text por 6 kg 
					.table__cell
						p.table__text por 5 kg 
					.table__cell
						p.table__text por 4 kg 
					.table__cell
						p.table__text por 2 kg 
					.table__cell.table__cell--result
						p.table__text - 31 kg 
				.table__col
					.table__cell.table__cell--title
						p.table__text Hombres 
							br
							| 100-160 kg 
					.table__cell.table__cell--note.green
						p.table__text Pérdida de peso 
					.table__cell
						p.table__text por 10 kg 
					.table__cell
						p.table__text por 8 kg 
					.table__cell
						p.table__text por 8 kg 
					.table__cell
						p.table__text por 6 kg 
					.table__cell
						p.table__text por 4 kg 
					.table__cell
						p.table__text por 3 kg 
					.table__cell.table__cell--result
						p.table__text - 39 kg 
				.table__col
					.table__cell.table__cell--title
						p.table__text Mujeres
							br
							| 100-160 kg 
					.table__cell.table__cell--note.green
						p.table__text Pérdida de peso 
					.table__cell
						p.table__text por 10 kg 
					.table__cell
						p.table__text por 9 kg 
					.table__cell
						p.table__text por 9 kg 
					.table__cell
						p.table__text por 7 kg 
					.table__cell
						p.table__text por 3 kg 
					.table__cell
						p.table__text por 2 kg 
					.table__cell.table__cell--result
						p.table__text - 40 kg 

		p.result__main Nuestro especialista se pondrá en contacto contigo para asesorarte y&nbsp;ayudarlo a elegir un 
			span.green curso individual
		form.result__form.form-q.form.x_order_form(action="/submit" method="post")
				h3.form-q__title ¿Aún tienes preguntas?
				.form__wrap.form__wrap--name
						input.form__input(type="text" name="name" required placeholder="Mi nombre")
				.form__wrap.form__wrap--phone
						input.form__input(type="tel" name="phone" required placeholder="Mi número")
				button.form__btn.btn
						span.btn__big Para obtener una&nbsp;consulta